.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.background.active {
  opacity: 1;
  pointer-events: all;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 30px;
  background-color: #ced4da;
  border-radius: 5px;
  border: 2px black solid;
  width: 80vw;
  max-width: 480px;
  transform: translateX(-300%);
  transition: 0.3s;
}

.content.active {
  transform: translateX(0);
}
