.button {
  border-radius: 5px;
  width: 120px;
  height: 40px;
  color: white;
}
.button:hover {
  cursor: pointer;
}
.form__button {
  background-color: #113e77;
}
.form__button:hover {
  color: black;

  background-color: #559eff;
}
.createNewButton {
  background-color: #36620e;
}
.createNewButton:hover {
  color: black;
  background-color: #94ff5b;
}

.updateButton {
  background-color: #b39320;
}
.updateButton:hover {
  color: black;

  background-color: #ffc85b;
}
