.button {
  border-radius: 5px;
  width: 120px;
  height: 40px;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.form_button {
  background-color: var(--red-button-color);
}

.form_button:hover {
  background-color: #f69292;
  color: black;
}
