.button {
  border-radius: 5px;
  width: 120px;
  height: 40px;
  color: white;
}

.button:hover {
  cursor: pointer;
}

.form_button {
  background-color: #7e1010;
}

.form_button:hover {
  background-color: #f55;
  color: black;
}
