body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --todo-bg: #ced4da;
  --header-bg: #fab005;
  --green-button-color: #40c057;
  --blue-button-color: #15aabf;
  --orange-button-color: #fd7e14;
  --red-button-color: #fa5252;
  --filter-bar-bg-color: #fd7e14;
  --filter-active-button-color: #228be6;
  --filter-button-color-base: #919191;
}
